apiVersion: 1

# list of datasources that should be deleted from the database
deleteDatasources:
  - name: Prometheus
    orgId: 1

# list of datasources to insert/update depending
# whats available in the database
datasources:
- name: Prometheus
  orgId: 1
  type: prometheus
  access: proxy
  url: http://prometheus:9090
  password: ''
  user: ''
  database: ''
  basicAuth: false
  isDefault: true
  jsonData:
    httpMethod: GET
    keepCookies: []
    timeInterval: 5s
  readOnly: false
  version: 1
  editable: true